@font-face {
  font-family: NeueMetanaR;
  src: url(fonts/NeueMetana/NeueMetana-Regular.otf); }

@font-face {
  font-family: NeueMetanaB;
  src: url(fonts/NeueMetana/NeueMetana-Bold.otf); }

@font-face {
  font-family: MontserratL;
  src: url(fonts/Montserrat/Montserrat-Light.ttf); }

@font-face {
  font-family: IntegralR;
  src: url(fonts/IntegralCF/IntegralCF-Regular.otf); }

/* line 22, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.home-background,
.interview-background {
  background: white;
  margin: 0;
  padding: 0; }

/* line 29, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.mentors-background {
  height: 100%;
  background-image: linear-gradient(to bottom, #26A9A2, white 100%);
  margin: 0;
  padding: 0; }

/* line 41, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.wrapper {
  height: 100vh;
  width: 100vw; }

/* line 46, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #10949A;
  background-image: url(/src/img/hero.png);
  background-size: cover;
  padding: 1.5em; }
  /* line 56, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .header .logo {
    width: 40%;
    background: none; }
  /* line 61, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .header .header-title {
    color: white;
    font-family: NeueMetanaB;
    line-height: 30px;
    margin-top: 4em; }
  /* line 69, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .header .header-text {
    color: white;
    grid-column: 1 / span 2;
    font-family: MontserratL;
    max-width: 75%; }
    /* line 75, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
    .header .header-text p {
      margin-top: 0;
      font-size: 12px; }
  /* line 83, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .header .header-btn .btn {
    background: white;
    border-radius: 4px;
    color: black;
    font-family: NeueMetanaB;
    text-decoration: none;
    cursor: pointer;
    padding: 0.4em 3em;
    font-size: 0.7em;
    border: solid white;
    text-transform: uppercase; }
  /* line 98, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .header .header-btn .btn:hover {
    background: none;
    color: white;
    text-decoration: none;
    border: solid whie 2px; }
  /* line 108, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .header .icon {
    position: absolute;
    right: 0;
    bottom: -5.5em; }

/* line 117, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.main-title h1,
.main-title-mentors h1 {
  font-family: NeueMetanaB;
  color: white;
  text-align: center;
  font-size: 1.3em;
  background: black;
  margin: 0;
  padding: 0.9em;
  justify-content: center; }

/* line 129, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }
  /* line 134, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content h1 {
    margin-top: 0;
    color: white;
    font-family: IntegralR;
    text-align: center; }
  /* line 145, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box1 li,
  .content .box1-interview li {
    color: white; }
  /* line 149, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box1 span,
  .content .box1-interview span {
    color: #DCED31; }
  /* line 158, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box2 span,
  .content .box2-interview span {
    color: #10949A; }
  /* line 168, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box3 h1,
  .content .box4 h1,
  .content .box1-interview h1,
  .content .box2-interview h1 {
    color: black; }
  /* line 174, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box1,
  .content .box1-interview {
    background-color: #10949A; }
  /* line 179, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box2,
  .content .box2-interview {
    background-color: #DCED31; }
  /* line 184, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box3 {
    background-color: #C7E1E0; }
  /* line 188, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box4 {
    background-color: #ECF498; }
  /* line 196, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content .box1,
  .content .box2,
  .content .box3,
  .content .box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 15px; }
    /* line 205, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
    .content .box1 ul,
    .content .box2 ul,
    .content .box3 ul,
    .content .box4 ul {
      text-align: center;
      list-style-type: none;
      color: black;
      font-family: NeueMetanaB;
      font-size: 0.7em;
      padding: 0; }
      /* line 214, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
      .content .box1 ul li,
      .content .box2 ul li,
      .content .box3 ul li,
      .content .box4 ul li {
        padding-bottom: 1em; }
    /* line 219, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
    .content .box1 p,
    .content .box2 p,
    .content .box3 p,
    .content .box4 p {
      font-family: NeueMetanaB;
      font-size: 0.7em;
      text-align: center; }

/** INTERVIEW PAGE **/
/* line 230, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.content-interview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  /* line 235, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview h1 {
    margin-top: 0;
    color: white;
    font-family: IntegralR;
    text-align: center; }
  /* line 245, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box1-interview li {
    color: white; }
  /* line 249, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box1-interview span {
    color: #DCED31; }
  /* line 255, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box2-interview span {
    color: #10949A; }
  /* line 263, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box1-interview h1,
  .content-interview .box2-interview h1 {
    color: black; }
  /* line 269, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box1-interview {
    background-color: #10949A; }
  /* line 273, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box2-interview {
    background-color: #DCED31; }
  /* line 277, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .content-interview .box1-interview,
  .content-interview .box2-interview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9.25em 15px; }

/** MENTORS **/
/* line 291, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.content-mentors img {
  width: 80%; }

/* line 302, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: black;
  font-size: 14px;
  text-align: center; }
  /* line 310, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .footer-title {
    color: white;
    font-family: NeueMetanaB;
    text-transform: uppercase; }
  /* line 316, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .footer-name {
    font-family: NeueMetanaR;
    color: white;
    font-size: 10px; }
  /* line 322, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .footer-text,
  .footer a {
    font-family: MontserratL;
    color: white;
    text-decoration: none;
    margin: 0;
    margin-bottom: 1em; }
  /* line 332, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .newsletter {
    text-align: start;
    margin-left: 1em;
    margin-top: 3em; }
  /* line 338, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .socials {
    margin-bottom: 0.7em; }
  /* line 342, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .clamp {
    font-size: 10px;
    margin-bottom: 2.5em; }
  /* line 347, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  /* line 353, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer li {
    margin-bottom: 0.8em; }
  /* line 357, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .footer-logo {
    width: 15%;
    justify-self: center;
    margin-bottom: 1em; }
  /* line 363, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .text-input {
    margin-left: 1em;
    padding-bottom: 0.8em;
    border-bottom: 0.11em solid white;
    overflow: hidden;
    outline: none;
    width: 90%;
    margin-bottom: 2em;
    font-size: 14px;
    border-left: none;
    border-right: none;
    border-top: none;
    background: black;
    margin-top: 0.5em;
    color: white; }
  /* line 383, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .text-input::placeholder {
    color: white;
    font-family: MontserratL; }
  /* line 388, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .text-btn {
    margin-bottom: 1.5em;
    font-family: NeueMetanaB;
    text-transform: uppercase;
    background: white;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0.4em 3em;
    font-size: 0.7em;
    border: solid white;
    text-transform: uppercase;
    width: 30%;
    justify-self: center; }
  /* line 407, /Users/laila.katumba/Desktop/Projects/codecollabs-website/src/css/main.scss */
  .footer .text-btn:hover {
    background: none;
    color: white;
    text-decoration: none;
    border: solid whie 2px; }

/**

.nav {
    font-family: IntegralR;
    color: white;
    list-style: none;
    font-size: 10px;

    ul {
        display: flex;
        grid-row: 2;
        grid-column: 1;
        left: 7em;
        background: none;
    }

    li {
        display: inline-block;
        padding-left: 20px;
        padding-top: 15px;
        right: 0;
        background: none;
    }

    img:nth-child(1) {
        display: flex;
        width: 100%;
        display: none;
    }

    img:nth-child(2) {
        display: flex;
        width: 25%;
        top: 2.5em;
        left: 3em;
        background: none;

    }
}


.main-text h1 {
    color: white;
    font-family: IntegralH;
    margin-left: 40px;
}
*/

/*# sourceMappingURL=main.css.map */