@media only screen and (min-width: 320px) {


    .main-title-interview h1 {
        font-size: 1em;
        margin-top: 0.5em;
    }

    .header-icon-interview .icon {
        width: 30%;
        bottom: -5em !important;
    }


    .slick-slider {
        margin-bottom: -8.5em;
    }
    
    .footer {
        margin-top: 6em;

    }

}


@media only screen and (min-width: 411px) {





    .header-icon-interview .icon {
        width: 8em;
        bottom: -5em !important;
    }



}

@media only screen and (min-width: 700px) {



    .header-icon-interview .icon {
        width: 8em;
        bottom: -5em !important;
    }



}

@media only screen and (min-width: 768px) {

    .main-title-interview h1 {
        font-size: 2.5em;
        margin: 0;

    }

    .mentor-interview .q1 {
        padding: 12.6em 15px;
    }


    .mentor-interview .q2,
    .mentor-interview .q3,
    .mentor-interview .q4,
    .mentor-interview .q5,
    .mentor-interview .q6,
    .mentor-interview .q7,
    .mentor-interview .q8{
        padding: 1.9em 15px;
    }

    .mentee-interview .q1 {
        padding: 12.6em 15px;
    }

    .mentee-interview .q2,
    .mentee-interview .q3,
    .mentee-interview .q4,
    .mentee-interview .q5,
    .mentee-interview .q6,
    .mentee-interview .q7,
    .mentor-interview .q8{
        padding: 1.9em 15px;
    }

    .header-icon-interview .icon {
        width: 10em;
        bottom: -7em !important;
    }

   /** .nav-list,
    .hamburger-menu2,
    .hamburger-menu .line {
        display: none !important;
    }
    .header .web-nav {
        display: contents;
    }

    .header .web-nav li {
        display: inline-block;
    }

    .header .web-nav a {

        font-family: NeueMetanaR;
        color: white;
        text-decoration: none;
        padding: em;

    } **/
    
    .footer {
        margin-top: 8em;

    }

}

@media only screen and (min-width: 1100px) {

    .header .logo {
        width: 18%;
    }

    .header .header-title {
        font-size: 2em;
        line-height: 65px;
    }

    .header .header-text p {
        font-size: 1.8em;

    }

    .header .header-btn .btn {
        padding: 0.6em 3em;
        font-size: 0.9em;
    }


    .main-title-interview h1 {
        font-size: 2.5em;
    }

    .slick-next:after {
        top: 3.8em !important;
        right: -1.3em !important;
        font-size: 5em !important;
    }

    .slick-prev:after {
        top: 4em !important;
        font-size: 4.8em !important;
        left: -1.6em !important;
    }

    .footer .text-btn {
        width: 10%;
        justify-self: start;
        margin-left: 1em;
        font-size: 0.8em;
    }

    .header-icon-interview .icon {
        width: 14em;
        bottom: -8.5em !important;
    }
 /** 
    .nav-list,
    .hamburger-menu2,
    .hamburger-menu .line {
        display: none !important;
    }

    .header .web-nav {
        display: contents;
    }

    .header .web-nav li {
        display: inline-block;
    }

    .header .web-nav a {

        font-family: NeueMetanaR;
        color: white;
        text-decoration: none;
        padding: em;

    }**/

}
