@media only screen and (min-width: 768px) {
    
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media only screen and (min-width: 1024px) {
    
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .header {
        background-image: url(/src/img/hero.png);
        background-size: cover;
        background-position: center;
    }

    .header .logo {
        width: 25%;
    }

    .header-title h1 {
        font-size: 2.5em;
        line-height: 1em;
    }

    .header .header-text {

        grid-column: 1 / span 1;

    }

    .header-text p {
        font-size: 1em !important;
    }

    .header-btn {
        grid-column: 1;
        font-size: 1.3em;
    }
    
    .main-title {
        font-size: 1.5em;
    }
    
    .footer .text-btn {
        justify-self: start;
        width: 20%;
        margin-left: 10px;
        font-size: 1em;
    }

}

