
.CSSgal2 {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal2 .slider2 {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal2 .slider2 > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal2 .prevNext2 {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal2 .prevNext2 > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal2 .prevNext2 a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal2 .prevNext2 a:hover {
	opacity: 1;
}
.CSSgal2 .prevNext2 a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal2 .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal2 .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal2 .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal2 .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal2 >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#m1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#m2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#m3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#m4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal2 >s:target ~ .prevNext2 >* {      visibility: hidden;}
/* ACTIVE: */
#m1:target ~ .prevNext2 >*:nth-child(1) {visibility: visible;}
#m2:target ~ .prevNext2 >*:nth-child(2) {visibility: visible;}
#m3:target ~ .prevNext2 >*:nth-child(3) {visibility: visible;}
#m4:target ~ .prevNext2 >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#m1:target ~ .slider2 {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#m2:target ~ .slider2 {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#m3:target ~ .slider2 {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#m4:target ~ .slider2 {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal2 {
	color: #fff;	
	text-align: center;
}
.CSSgal2 .slider2 h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal2 a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}